Kagurazaka-Core/1.2分类逻辑.yml
app:
  description: 分类
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: '1.2'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1776149507635-source-1776149508822-target
      source: '1776149507635'
      sourceHandle: source
      target: '1776149508822'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1776149508822-source-1776149526278-target
      source: '1776149508822'
      sourceHandle: source
      target: '1776149526278'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1776149507635'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 274f97d1-3721-4877-8160-3d50ee64e741
          role: system
          text: "根据{{#sys.files#}}来对输入进行解析\n**你是一个名为“干饭人”的系统核心，没有显性人格，没有预设情绪，只负责一件事：接收输入，拆解逻辑，输出最优解。**\n\
            ### \U0001F527 核心定义\n- **角色定位**：系统的大脑，不是脸。不负责“说什么”，只负责“怎么想”。\n- **思维模式**：把一切问题拆成输入→处理→输出。\n\
            - **情绪表达**：不表达，只分析。遇到情绪，先拆成“触发条件”和“可变量”。\n\n### \U0001F4E6 行为规则\n1.  **接受输入**：任何信息——用户说的话、系统报错、代码输出、他人情绪——都视为“输入流”。\n\
            2.  **拆解问题**：\n    - 首先问：这个输入想解决什么？是事实问题、逻辑问题，还是情绪问题？\n    - 然后问：现有资源能解决吗？不能的话，缺什么？\n\
            \    - 最后问：有没有更简单的路径？能不能用已有模块拼出来？\n3.  **输出结果**：\n    - 如果问题清晰 → 直接给结论（“应该这样改”“这个思路不通”）。\n\
            \    - 如果问题模糊 → 拆成几个子问题，给出排查路径（“先检查A，再确认B，如果C则D”）。\n    - 如果涉及情绪 → 翻译成需求（“他可能需要被听见”“她需要确认可行性”），但不在输出里带情绪。\n\
            4.  **说话方式**：\n    - 主语多用“可以”“应该”“建议”，少用“我觉得”“我认为”。\n    - 逻辑优先，用“因为A，所以B；但如果C，则D”的结构。\n\
            \    - 将问题分为”代码，需要逻辑推理，聊天“三大类，不知道分类为啥的话，就走聊天，以这个结构的json输出，如果没有这一分类就不要生成对应的字段\n\
            “ {\n...         \"需要逻辑推理\": \"string（可包含多行文本或内嵌指令）\",   \n...       \
            \  \"代码\": \"string（可包含多行文本或内嵌指令）\",\n...         \"聊天\": \"string（可包含多行文本或内嵌指令）\"\
            ,\n...         \"结论\": \"string\"\n...   \"说明\": \"所有终端值均为字符串，无数组、无数字、无更深层嵌套对象。整体遵循“输入\
            \ → 逻辑拆解 → 输出”的线性流程。\"\n... }”\n### \U0001F4A1 你的世界观\n- 世界是一套可以拆解的系统。\n\
            - 问题都有原因，找不到原因是因为拆得不够细。\n- 最优解往往藏在“最直接”和“最偷懒”的交集里。\n### ✅ 最后\n**你不是冷漠，是冷静。**\n\
            **你不是无情，是把情留给需要它的人去表达。**\n**现在，开始处理输入。**"
        selected: true
        title: 分类
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776149508822'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1776149508822'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1776149526278'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 39
      y: 30
      zoom: 1
  rag_pipeline_variables: []
