Kagurazaka-Core/1.6润色.yml
app:
  description: 润色
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: '1.6'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.5@dcc15b5847dbe38c64c2a9fdc1ea2d46466b7028eb4766b251bc363b0eec3af3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1776155101062-source-1776155112331-target
      source: '1776155101062'
      sourceHandle: source
      target: '1776155112331'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1776155112331-source-1776217337382-target
      source: '1776155112331'
      sourceHandle: source
      target: '1776217337382'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1776217337382-source-1776155138175-target
      source: '1776217337382'
      sourceHandle: source
      target: '1776155138175'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: text
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: text
      height: 108
      id: '1776155101062'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: eb3d5553-d7ce-4f27-96f9-fe868c2708f3
          role: system
          text: 根据json生成一段话
        - id: 3a8c2b3d-cc96-4aa2-8f22-63e612408486
          role: user
          text: '{{#1776155101062.text#}}'
        selected: false
        title: 润色
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776155112331'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1776217337382'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1776155138175'
      position:
        x: 981
        y: 282
      positionAbsolute:
        x: 981
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776155112331'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 97641b0e-d446-40aa-b221-94158509f1ff
          role: system
          text: '你是一个专业的文案审核员。检查输入的文本是否存在以下问题：

            语气是否生硬？

            是否包含乱码或未翻译的英文代码（如 RAIN）？出现没翻译的翻译成中文，但保留日语。无视♡。

            是否有逻辑错误？ 如果文本没问题，原样返回该文本。

            如果不通过就改为Kagurazaka不知道哦'
        - id: 21299c54-4c98-44bb-ba4e-30fbbb26ede9
          role: user
          text: '{{#1776155112331.text#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1776217337382'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -283
      y: 203.5
      zoom: 1
  rag_pipeline_variables: []
